{style}
{literal}

.descr {
margin-top: 20px;
}

.row {
padding-bottom: 50px;
}
#firstDiv, #secondDiv {
width: 75vw;
height: 80vh;
}
#secondDiv {
display: none;
overflow-x: hidden;
padding-top: 0px;
}
.ow_bg_color{
background-image: url('http://lundentreux.info/infographie/Effetsfiltre/U/ulimitedpaperbackground/Paper%20Background%20-%20Canvas,%20Painted%20White,%20Fine%202.jpg');
background-repeat:repeat;
}
.noteImg {
width: 20px;
height: 20px;
}
.floatbox_header, .floatbox_bottom{
display: none;
}
{/literal}
{/style}
<div class="section fadeIn animated" id="firstDiv">
    <!--<div class="container">-->
    <div class="row text-center slideInRight animated" style="padding-bottom: 0px">
        <div class="col-md-12">
            <label class="descr">Time signature: </label><br/>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active" name="timeLab">
                    <input type="radio" name="time" id="2/2" autocomplete="off" checked>
                    2<br/>2
                </label>
                <label class="btn btn-default" name="timeLab">
                    <input type="radio" name="time" id="2/4" autocomplete="off">
                    2<br/>4
                </label>
                <label class="btn btn-default" name="timeLab">
                    <input type="radio" name="time" id="3/4" autocomplete="off">
                    3<br/>4
                </label>
                <label class="btn btn-default" name="timeLab">
                    <input type="radio" name="time" id="4/4" autocomplete="off">
                    4<br/>4
                </label>
                <label class="btn btn-default" name="timeLab">
                    <input type="radio" name="time" id="3/8" autocomplete="off">
                    3<br/>8
                </label>
                <label class="btn btn-default" name="timeLab">
                    <input type="radio" name="time" id="6/8" autocomplete="off">
                    6<br/>8
                </label>
            </div>
        </div>
    </div>
    <div class="row text-center zoomIn animated" style="padding-bottom: 0px">
        <div class="col-md-12">
            <label class="descr">Key signature: </label><br/>
            <select id="ks">
            </select>
        </div>
    </div>
    <div class="row text-center slideInLeft animated" style="padding-bottom: 0px">
        <div class="col-md-12" id="prev"></div>
    </div>
    <div class="row text-center fadeIn animated">
        <div class="col-md-12">
            <span class="rounded_attachment_btn" style="text-align: center">
                <span class="ow_button fadeInUp animated">
                    <input type="button" id="next" value="Next"></input>
                </span>
            </span>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-default" id="next">Next></button>
        </div>
        <div class="col-md-4"></div>
    </div>-->
    <!--</div>-->
</div>
<div class="section fadeIn animated" id="secondDiv">
    <div class="container">
        <div class="row fadeInDown animated">
            <div class="col-md-4">
                <label>Duration: </label><br/>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="notes" id="w" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/whole-note.png"/>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="notes" id="h" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/half-note.png"/>
                    </label>
                    <label class="btn btn-default active">
                        <input type="radio" name="notes" id="q" class="q" autocomplete="off" checked>
                        <img class="noteImg" src="ow_static/plugins/somusic/img/quarter-note.png"/>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="notes" id="8" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/eighth-note.png"/>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="notes" id="16" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/sixteenth-note.png"/>
                    </label><br/>
                    <label class="btn btn-default">
                        <input type="radio" name="notes" id="wr" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/whole-rest.png"/>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="notes" id="hr" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/half-rest.png"/>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="notes" id="qr" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/quarter-rest.png"/>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="notes" id="8r" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/eighth-rest.png"/>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="notes" id="16r" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/sixteenth-rest.png"/>
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <label class="descr">Accidental: </label><br/>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="accidental" id="clear" autocomplete="off" checked>
                        <img class="noteImg" src="ow_static/plugins/somusic/img/clear.png"/>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="accidental" id="b" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/flat.png"/>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="accidental" id="#" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/sharp.png"/>
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="accidental" id="n" autocomplete="off">
                        <img class="noteImg" src="ow_static/plugins/somusic/img/restore.png"/>
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <label class="descr">Tone: </label><br/>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="voice" id="basso" autocomplete="off" checked>B
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="voice" id="tenore" autocomplete="off">T
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="voice" id="alto" autocomplete="off">A
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="voice" id="soprano" autocomplete="off">S
                    </label>
                </div>
            </div>
        </div>
        <div class="row row-centered zoomIn animated" style="padding-bottom: 20px">
            <div class="col-md-12 col-centered">
                <div id="scoreDiv" style="overflow-x: auto; overflow-y: hidden; width: 800px; height: 270px">
                    <canvas id="score" height="600" width="800">
                    </canvas>
                    <canvas id="vmCanvas" class = "slideInRight animated" width="800" height="130" style="display: none;">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="row fadeInUp animated" style="padding-bottom: 0px">
            <div class="container">
                <button type="button" class="btn btn-danger" id="del">Delete</button>
                <button type="button" class="btn btn-warning" id="visualMelody">Visual Melody</button>
                <button type="button" class="btn btn-success" id="tie">Tie</button>
                <!-- this is a test-->

            </div>
        </div>
        <div class="row text-right fadeInUp animated">
                <span class="rounded_attachment_btn">
                        <span class="ow_button" style="margin-right: 30vw">
                            <input type="button" id="add" value="Add"/>
                        </span>
                    </span>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    var keySig = document.getElementById("ks");
    Object.keys(Vex.Flow.keySignature.keySpecs).forEach(function (key) {
        var option = document.createElement("option");
        option.text = key;
        keySig.add(option);
    });
    var ren = new Renderer("score", "scoreDiv", "vmCanvas");
    document.getElementById("next").addEventListener("click", function () {
        document.getElementById("firstDiv").style.display = "none";
        document.getElementById("secondDiv").style.display = "block";
        ren.init();
    }, false);
    document.getElementById("add").addEventListener("click", function () {
        previewFloatBox.close();
        var vmData = ren.saveData();
        $('input[name=vmHidden]').val(JSON.stringify(vmData));
        var ren2 = new Renderer("feed_score", "feed_scoreDiv", "feed_vmCanvas");
        var placeholder = document.getElementById("vm_placeholder");
        var titleText;
        if (placeholder.childNodes.length == 3) {
            titleText = document.createElement('input');
            titleText.setAttribute("type", "text");
            titleText.id = "score_title_text";
            placeholder.insertBefore(titleText, placeholder.childNodes[0]);
            var para = document.createElement("p");
            var node = document.createTextNode("Title");
            para.style.textAlign = "center";
            para.style.fontWeight = "bold";
            para.appendChild(node);
            placeholder.insertBefore(para, placeholder.childNodes[0]);
            titleText.addEventListener("change", function () {
                $('input[name=scoreTitle]').val($('#score_title_text').val());
            });
        }
        placeholder.style.display = "block";
        ren2.restoreData(vmData);
    });
    document.getElementById("ks").addEventListener("change", preview, false);
    var elements = document.getElementsByName("timeLab");
    for (var i = 0; i < elements.length; i++)
        elements[i].addEventListener("click", preview, false);
    document.getElementById("ks").addEventListener("change", preview, false);
    var prevDiv = document.getElementById("prev");
    var renderer = new Vex.Flow.Renderer(prevDiv, Vex.Flow.Renderer.Backends.SVG);
    var ctx = renderer.getContext();
    renderer.resize(200, 150);
    preview();

    function preview() {
        ctx.clear();
        var prevStave = new Vex.Flow.Stave(10, 20, 200);
        if (arguments.length == 0 || arguments[0].target.tagName != "LABEL")
            var timeSign = getRadioSelected("time");
        else
            var timeSign = arguments[0].target.childNodes[1].id;
        var keySign = $("#ks :selected").text();
        prevStave.addClef("treble").addTimeSignature(timeSign).addKeySignature(keySign);
        prevStave.setContext(ctx).draw();
    }
</script>